
<h1> Men's Team beginnings </h1>

<h2> About Cameron and Men's Team </h2>


<div>
  <p>My name is Cameron Daddo. I was born in the mid-60’s and I’m married with three kids. I have worked in the entertainment industry for over thirty years. Twenty-five of those most recently in the USA. My family and I relocated to Australia in the beginning of 2017.</p>
  <p>
  For the past 30 years, my life hasn’t always been rosy. There have been plenty of ups and downs and without the assistance of others, I would not be writing this to you. I would not be in my marriage and I dare say- I would not have my kids or a career.
  </p>
  <p>
  A decade ago, I was going through a very challenging time. My work was not providing the money needed to support my family. The incessant chatter in my brain woke me at 3am, I had lost faith in my usual support channels and I felt I had nowhere to turn. My wife and kids were copping outbursts that I couldn’t contain.
  </p>
  <p>
  Out of desperation, I group-emailed the fathers at our kids’ school and briefly shared my situation, with an invitation- “if you feel the same way, please let me know”. A surprising response of positivity followed along with brave acknowledgments of being in similar situations and feeling similar things.
  </p>
  <p>
  I organised for a meeting in my garage and 23 men turned up to listen and share their experiences. That group lasted three sessions… in retrospect, the idea of opening up to 20-plus guys is a daunting one and 3 hours wasn’t long enough to hear from half. While our intent was there, we didn’t have the right tools to keep it going. Clearly, the timing wasn’t right, but deep down I knew I needed something like this.
  </p>
  <p>
  Cut to five years later I was invited to join an existing group-meeting of men. This time there were eight guys and they referred to  themselves as a “team”… initially I was a tad sceptical, but I went regardless.
  </p>
  <p>
  My cynicism was extinguished within two meetings. I witnessed eight individuals actively commit to one another, supporting emotions and feelings without judgement, with genuine care and with quiet strength, they were indeed a TEAM.  They had a blueprint and a code that works and is still working today. A better more rounded, reliable and socially aware group of blokes would be hard to find.
  </p>
  <p>
  The benefits that my family and I have received from me being a member of a MEN’S TEAM are many and it is my belief and hope that it will be for you. I have learned to listen better, I have learned that I am not alone in my fears and expectations and I have learned from my fellow team mates through their shared experiences. I have become a better, more conscious father, husband and friend as a result. It’s my intention to pay-it-forward.</p>
  <p>
  Building a team does require some courage… I understand, I’ve put mine together. It means contacting other men; sounding them out, gauging interest… it’s not something that most of us are used to doing, and it’s definitely not something Aussie blokes are used to. You’re most likely to get some “No’s”, I certainly did and that’s ok. You’re also going to get “YES’s” and if you can persevere, follow through and hold a meeting, the benefits are massive. It’s worth it.</p>

  <p>
  With the actions of men highlighted in the news and on socials these days… MEN’S TEAM is more necessary than ever. It’s time we get real with ourselves and each other. This is a safe and effective way to get things rolling and stay on track.</p>
  <p>
  I thank you for reading, please <a href="#">JOIN OUR MAILING LIST</a>. A code will be sent to you. Please insert the CODE on our RESOURCES page to access the BLUEPRINT to create and establish your own <span> TEAM </span>meeting.</p>
  <p>
  How you create your team is up to you but if you need assistance please email direct- cameron@mensteam.com.au.
  </p>

  <p>
  Once you’ve established your TEAM- please register your <span>TEAM NAME</span> and <span>LOCATION</span> with us.
  </p>
  <p>
  My dream is to create the MEN’S TEAM League.
  </p>

  <p>Stop waiting to be picked, pick yourself, and create a team. <span>MEN’S TEAM.</span></p>

  <p>
  Gratefully and respectfully
  – Cameron
  </p>

</div>