<section class="get-involved">
	<div id="involved-image"></div>
	<h1>Get involved</h1>
	<main class="involved-main">

		<div class="involved-left">
			<h2>Start a team</h2>
			<p>Interested in starting a men's team in your area? We are always looking for people to get involved. We'll let you know if there is already a team in your area.</p>
			<p>Fill in your details below and someone will be in contact with you about starting a team in your area.</p>
			<div class="start-form">
				<form action="/">
					<input type="text" placeholder="name">
					<input type="text" placeholder="enter your email">
					<input type="text" placeholder="location">
					<input type="submit" value="Submit">
				</form>
			</div>
		</div>

		<div class="involved-right">
			<h2>Join a team</h2>
			<p>We always welcome new people at our existing men's teams. Check for your location below.</p>
			<p>Fill in your details and someone will be in contact with you about joining a team in your area.</p>
			<div class="join-form">
				<form action="/">
					<input type="text" placeholder="name">
					<input type="text" placeholder="enter your email">
					<select name="location" class="locations">
					    <option value="melbourne">Melbourne</option>
					    <option value="sydney">Sydney</option>
					    <option value="brisbane">Brisbane</option>
					    <option value="adelaide">Adelaide</option>
					    <option value="perth">Perth</option>
					    <option value="canberra">Canberra</option>
					    <option value="hobart">Hobart</option>
					 </select>
					<input type="submit" value="Submit">
				</form>
			</div>
		</div>
	</main>	
</section>