<section class="get-involved">
	<div id="involved-image"></div>
	<h1>Get involved</h1>
	<main class="involved-main">

		<div class="involved-left">
			<h2>Start a team</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			<p>Fill in your details below and someone will be in contact with you about starting a team in your area.</p>
			<div class="start-form">
				<form action="/">
					<input type="text" placeholder="name">
					<input type="text" placeholder="enter your email">
					<select name="location">
					    <option value="melbourne">Melbourne</option>
					    <option value="sydney">Sydney</option>
					    <option value="brisbane">Brisbane</option>
					    <option value="adelaide">Adelaide</option>
					    <option value="perth">Perth</option>
					    <option value="canberra">Canberra</option>
					    <option value="hobart">Hobart</option>
					 </select>
					<input type="submit" value="Submit">
				</form>
			</div>
		</div>

		<div class="involved-right">
			<h2>Join a team</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			<p>Fill in your details below and someone will be in contact with you about joining a team in your area.</p>
			<div class="join-form">
				<form action="/">
					<input type="text" placeholder="name">
					<input type="text" placeholder="enter your email">
					<select name="location">
					    <option value="melbourne">Melbourne</option>
					    <option value="sydney">Sydney</option>
					    <option value="brisbane">Brisbane</option>
					    <option value="adelaide">Adelaide</option>
					    <option value="perth">Perth</option>
					    <option value="canberra">Canberra</option>
					    <option value="hobart">Hobart</option>
					 </select>
					<input type="submit" value="Submit">
				</form>
			</div>
		</div>
	</main>	
</section>