<%     
  quotes = [
    {
      :content => "If you want to lift yourself up, lift up someone else.",
      :author => "Book T Washington"
    },
    {
      :content => "I think one of the greatest feelings in the world is when someone openly tells you how much you mean to them."
    },
    {
      :content => "Don’t run away from heavy emotions, honor the anger, give pain the space it needs to breathe - this is how we let go.",
      :author => "Yung Pueblo"
    },
    {
      :content => "It’s easier to build strong children, than to repair broken men."
    },
    {
      :content => "Sometimes when you’re in a dark place you think you’ve been buried, but you’ve actually been planted."
    }

  ]
%>


<h3> MEN'S TEAM - RESOURCES</h3>

<% quotes.each_with_index do |quote, idx| %>
  <article id="quote-<%= idx+1 %>">
    <p> <%= quote[:content] %> </p>
    <% if quote[:author] %>
      <p><%= quote[:author] %></p>
    <% end %>
  </article>
<% end %>
