#involved-image {
	background-image: url("/get_involved.jpg");
	background-position: top;
	background-size: cover;
	width: 100%;
	height: 400px;
}

section.get-involved {
	margin-top: 175px;
	height: 100%;
}
