#involved-image {
	background-image: url("/get_involved.jpg");
	background-position: top;
	background-size: cover;
	width: 100%;
	height: 400px;
}

section.get-involved {
	margin-top: 175px;
	height: 100%;
	margin-bottom: 100px;
}

.get-involved h1 {
	text-align: center;
}

.involved-main {
	display: flex;
}

.locations {
	width: 100%;
}

.involved-main h2 {
	text-align: center;
}

.involved-left {
	background-color: pink;
	height: 400px;
	width: 100%;
}

.involved-right {
	background-color: green;
	height: 400px;
	width: 100%;
}

.involved-left,
.involved-right {
	padding: 10px 20px;
}

.join-form form,
.start-form form {
	display: flex;
	flex-direction: column;
	width: 80%;
}

.join-form input,
.start-form input {
	margin: 5px;
	width: 100%;

}

.join-form,
.start-form {
	display: flex;
	justify-content: center;
}