@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700");
@import "layout";
@import "get_involved";
@import "resources";

$dark-blue: #1e3649;
$light-blue: #a6d9f7;
$white: #fff;
$gray: #727072;
$yellow: #f3de8a;

// fonts

$body-font: "Raleway", sans-serif;
$body-font-size: 0.8em;
$heading-font-size: 2.2em;

@import "contact_us";
